/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/card.css");

/* Utilities */
html, body {
  margin: 0;
  font-family: Open Sans;
  background-color: #953dc4;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: Poppins;
  color: #795FA7;
  padding: 0px;
  margin: 4px;
  line-height: 90%
}

p {
  font-size: 14px;
  padding: 0px;
  margin: 8px 4px 8px 4px;
}

h2 {
  font-size: 40px;
  color: black;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 4px 0px 4px;
}

.coloredbattery {
  background-color: green;
  color: green;
  border-radius: 3px;
  height: 18px;
  width: 10px;
  display: inline-block;
  margin: 0 1px 0 0;
}
.uncoloredbattery {
  background-color: #E4E4E4;
  color: green;
  border-radius: 3px;
  height: 18px;
  width: 10px;
  display: inline-block;
  margin: 0 1px 0 0;
}
