.container {
  background-color: white;
  border-radius: 8px;
  margin: 16px auto;
  width: 500px;
  padding: 16px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  justify-content: space-around;
}

.card {
  background-color: #E4E4E4;
  text-align: center;
  margin: 8px;
  display-flex;
  vertical-align: center;
  border-radius: 4px;
  width: 200px;
  padding: 40px 8px 0px 8px;
  min-height: 100px;
}

.deal-container {

}

.deal {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.deal-item-large {
  width: 50%;
}

.deal-item {
  width: 25%;
}
