.footer {
  /*background-color: rgba(4, 22, 48, 0.9);*/
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: white;
}

.footer .container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}

.footer a {
  text-decoration: none;
  color: grey;
  font-weight: 200;
  margin-left: 10px;
}
